<!DOCTYPE html>
<html lang="en">
<head>
    <!-- nav style -->
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/book-pages/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- header partial-->
<%-include('../nav.ejs')%> 
    <main>
        <h1>This is the Books Index Page</h1>
        
        <section class="books">
            <% books.forEach(book => { %>
                <div class="book">
                    <div class="cover">
                        <div class="covertop">
                        </div>
                        <a href="/users/<%=userID%>/books/<%=book._id%>">
                            <div class="spine">
                                <p><%=book.title%></p>
                            </div>
                        </a>
                    </div>
                    <div class="side"></div>
                </div>
            <% }) %>
        </section>
        <div class='newBook'>
            <a href="/users/<%=userID%>/books/new">
                <button>Add Book</button>
            </a>
        </div>


    </main>
    
    
</body>
</html>