<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nav style -->
    <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/book-pages/show.css">
  <title>Book Show Page</title>
</head>
<body>
  <!-- header partial-->
  <%-include('../nav.ejs', {userID: userID})%> 
  <main>
    <section class="bookCover">
      <div class="leftCover" style="background-color: <%=book.color%>;"></div>
      <div class="spine" style="background-color: <%=book.color%>;"></div>
      <div class="rightCover" style='background-color: <%=book.color%>;'></div>
    </section>
    <section class="bookData">
      <div class="leftPage">
      </div>
      <div class="rightPage">
        <h2><%= book.title %></h2>
        <h3><%= book.author %></h3>
        <h4><%= book.PubDate %></h4>
        <hr />
        <h4 class="summaryHeader">Summary</h4>
        <p class='summary'><%= book.summary %></p>
        <h4 class="reviewHeader">Review</h4>
        <p class='review'><%= book.primaryReview %></p>
        <div class="bookButtons">
          <a href="/books/<%=book._id%>/edit" class="bookEdit"><button>Edit Details</button></a>
          <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <button type="submit" class="bookDelete"><p>Delete Book</p></button>
          </form>
        </div>
      </div>
      <div class="rightStack"></div>
    </section>
  </main>
  
</body>
</html>