<!DOCTYPE html>
<html lang="en">
<head>
    <!-- nav style -->
  <link rel="stylesheet" href="../styles/nav.css">
  <link rel="stylesheet" href="../styles/user-pages/show.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main User Page</title>
</head>
<body>
  <!-- header partial-->
  <%-include('../nav.ejs', {userID: user._id})%> 
<main>
  <section class="corkboard">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQECU0BDxdW6XQ/profile-displayphoto-shrink_200_200/0?e=1599696000&v=beta&t=Ud4QEnsQpCl62EqI_OJGziEXde9bXzMG25Di1UunTD8" alt="profile pic">
    <h2 class="username"><%= user.username %> </h2>
    <a href="/users/<%=user._id%>/edit"><button>Edit User Settings</button></a>
    <section class="bookshelves">
      <h3>My Bookshelves</h3>
      <ul>
        <% user.bookshelves.forEach(bookshelf => { %>
          <li><%= bookshelf %></li>
        <% }) %>
      </ul>
    </section>
    <section class="quote">
      <p><%= user.favQuote %></p>
    </section>
    <section class="stats">
      <p><span>Books on shelves: </span> 42</p>

    </section>
    <form action="/users/<%=user._id%>/?_method=DELETE" method="POST"><button type="submit">Delete Account</button></form>


    <div class="bottom"></div>
  </section>
  <section class="easel">
    <div class="leftLeg leg"></div>
    <div class="middleLeg leg"></div>
    <div class="rightLeg leg"></div>
  </section>


</main>
  
</body>
</html>